@font-face {
    font-family: 'SolaimanLipi';
    src: url('../fonts/SolaimanLipi.eot');
    src: url('../fonts/SolaimanLipi.eot') format('embedded-opentype'),
         url('../fonts/SolaimanLipi.woff2') format('woff2'),
         url('../fonts/SolaimanLipi.woff') format('woff'),
         url('../fonts/SolaimanLipi.ttf') format('truetype'),
         url('../fonts/SolaimanLipi.svg#SolaimanLipi') format('svg');
}
